body {
   background-color: #ededec;
}

.form-signin {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
   color: #017572;
}

.form-signin {
   border-color: #a3b9c1;
}

.form-signin input[type="password"] {
   margin-bottom: 10px;
}

h2{
   text-align: center;
   color: #347bba;
}

.task-item {
   display: none;
}

.curr {
   display: inline-block;
}

.newTask {
   margin-top: 50px;
}


input[type=email]:invalid + label::after,
input[type=email]:-moz-ui-invalid + label::after,
input[type=email]:user-error + label::after,
input[type=email]:user-invalid + label::after {
  content: "E-mail не валиден";
  white-space: nowrap;
  position: absolute;
  left: -100%;
  top: -100%;
  padding: 3px;
  color: salmon;
  border: 1px dotted red;
}

label {
  position: relative;
}

label::after {
   color: green;
}
