body {
   background-color: #ededec;
}

.form-signin {
   max-width: 330px;
   padding: 15px;
   margin: 0 auto;
   color: #017572;
}

.form-signin {
   border-color: #a3b9c1;
}

.form-signin input[type="password"] {
   margin-bottom: 10px;
}

h2{
   text-align: center;
   color: #347bba;
}

.task-item {
   display: none;
}

.curr {
   display: inline-block;
}



input[value=""]+label:before {
   color: green;
   content: "===";
}
input[type=email]:invalid {
   color: red;
   content: "email не валиден";display: block;
}
input[type=email]:valid+label:before {
   color: blue;
   content: "email";display: none;
}
/*input[type=email]:required+label:before, input[type=email]:focus:required+label:before {
   color: green;
   content: "===";
}
input[type=email]+label:before,
input[type=email]:valid+label:before, input[type=email]:focus:valid+label:before { {
   color: green;
   content: "---";
}
input[type=email]:invalid+label:before, input[type=email]:focus:invalid+label:before {
   position: absolute;
   top: -20px;
   left: 0;
   content: "email не валиден";
   white-space: nowrap;
   font-size: 12px;
   color: red;display: block;
}
*/

input[type=text]:invalid+label:after, input[type=text]:focus:invalid+label:after {

}